{% extends "layout.html" %} 
{% set active_page = "home" %}
{% block title %}RecipeFlask{% endblock %} 
{% block content %}
<h1 class="text-center my-4">My Recipes</h1>

<section>
  <div class="row">
    {% for recipe in recipes %}
    <div class="col-sm-4">
      <div class="card text-center mt-3" style="width: 18rem;">
        <h5 class="card-header card-title">{{ recipe[1]}}</h5>
        <img
          src={{ recipe[2] }}
          class="card-img-top"
          alt={{ recipe[1] }}
        />
        <div class="card-body d-flex justify-content-center">
          <p class="card-text">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href={{ recipe[3] }}
              >Visit Page</a
            >
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a href="#" class="btn btn-primary">Edit</a>
          <form action="{{url_for('delete_recipe',id=recipe[0])}}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>       
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}